.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Merriweather", serif;
    line-height: 1.6;
}
p{
     font-family: "Inter", sans-serif;
}

main{
    max-width: 1340px;
    margin: 0 auto;
}

/* Celebration Part Start */

.celebration{
    background-image: url(../images/Banner\ Image.png);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 20px;
}
.celebration::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 20px;
}
.celebration-content{
    text-align: center;
    color: #fff;
}
.celebration-content h4{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.celebration-content h3{
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

/* Discount Part Start */

.discount{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}

.discount-content h2{
    font-family: "Inter", sans-serif;
    font-size: 88px;
    color: #FF0000;
    font-weight: 700;
}
.discount-content h4{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #FF0000;
    font-weight: 500;
}
.discount-content h3{
    font-family: "Inter", sans-serif;
    font-size: 38px;
    color: #070211;
    font-weight: 700;
}

/* Welcome Part Start */

.welcome{
    background-image: url(../images/Banner\ Image.png);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-top: 50px;
    border-radius: 20px;
    /* padding: 125px; */
}
.welcome::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 20px;
}
.welcome-all-content{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 70px 125px;
}
.welcome-content h4{
    font-size: 64px;
    color: #fff;
    line-height: 1.2;
}
.welcome-content p{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
}
.welcome-content a{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 30px 50px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block
}
.welcome-all-content img{
    width: 320px;
    height: 460px;
}

/* Event Section Start */
.event{
    height: 500px;
    margin-top: 70px;
    background: #ffc9c9;
    background: linear-gradient(180deg,rgba(255, 201, 201, 1) 39%, rgba(237, 237, 237, 1) 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}
.event-content h3{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #070211;
}
.event-content h3 span{
    color: #FF0000;
}
.event-content a{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #FF0000;
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
}

/* Offer Part Start */
.offer{
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.offer-coming{
    max-width: 450px;
}

.offer-coming h4{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.offer-coming h3{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}
.offer-coming p{
    font-size: 20px;
    font-weight: 400;
    color: #070211;
}
.offer-img{
    position: relative;
}
.offer-img::before{
    position: absolute;
    content: "";
    width: 110%;
    height: 110%;
    top: -30px;
    left: -30px;
    right: 0;
    bottom: 0;
    border: 10px solid #FF0000;
    border-radius: 50%;
}
.offer-des{
    max-width: 300px;
    margin-left: 50px;
}
.offer-des h3{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
}
.offer-des p{
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    margin-bottom: 30px;
}

/* Holiday Part Start */
.holiday{
    margin-top: 100px;
}
.holiday-content{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;

}
.holiday-content h4{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
}
.holiday-content h3{
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: 800;
    color: #070211;
}
.holiday-content h3 span{
    color: #FF0000;
}
.holiday-content p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    padding: 0 100px;
    margin-bottom: 100px;
}
.holiday-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.holiday-image::before{
    position: absolute;
    content: url(../images/Rectangle\ 2.png);
    height: 150px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Portfolio Part Start */
.portfolio{
    margin-top: 150px;
}
.portfolio-content{
    max-width: 60%;
}
.portfolio-content h4{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.portfolio-content h3{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 800;
    color: #070211;
}
.portfolio-content p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    margin-bottom: 50px;
}
.portfolio-image{
    display: flex;
    justify-content: space-between;
    gap: 30;
    margin-bottom: 30px;
}

/* Newsletter Part Start */
.newsletter{
    margin-top: 80px;
    text-align: center;
    background: #ffc9c9;
    background: linear-gradient(180deg,rgba(255, 201, 201, 1) 39%, rgba(237, 237, 237, 1) 100%);
    border-radius: 20px;
    padding: 100px;
}
.newsletter h3{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 800;
    color: #070211;
}
.newsletter p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    padding: 0 100px;
    margin-bottom: 30px;
}
.newsletter input[type=text]{
    padding: 20px 30px;
    width: 400px;
    border-radius: 40px;
    border: none;
    position: relative;
}
.newsletter input[type=text]:focus{
    border: none;
    outline: none;
}
.newsletter input[type=button]{
    padding: 20px 40px;
    border-radius: 0 40px 40px 0;
    border: none;
    background-color: #FF0000;
    color: #fff;
    position: absolute;
    content: "";
    right: 472px;
}

/* Footer Part Start */
.footer{
    margin-top: 50px;
    background-color: #070211;
    padding: 100px 0 50px 0;
    color: #fff;
}
.footer-main{
    max-width: 1340px;
    margin: 0 auto;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer-middle{
    margin: 50px 0;
}

.footer-middle ul{
    display: flex;
    justify-content: center;
}

.footer-middle ul li{
    list-style: none;
    margin-right: 20px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}